<template>
  <div class="treino">
    <div class="row p-2">
      <div class="col">
        <h3 class="d-inline-block">{{ treino.nome }}</h3>
        <b-button size="sm" variant="primary" @click="copy"><font-awesome-icon icon="copy" /></b-button>
        <b-button size="sm" variant="primary" v-b-modal.modal_paste><font-awesome-icon icon="upload" /></b-button>
      </div>
      <div class="col float-right">
        <b-button v-b-modal.modal_novo_exercicio size="sm" variant="outline-primary" class="float-right">Novo exercício</b-button>
      </div>
    </div>
    <b-modal
      id="modal_novo_exercicio"
      ref="modal_novo_exercicio"
      title="Novo exercício"
      @ok="novo"
      >
      <b-form-group id="inputGroup" label="Nome:" label-for="Input">
        <b-form-input
          id="nome"
          type="text"
          v-model="form.nome"
          required
          placeholder="Digite o nome do novo exercício"
        />
      </b-form-group>
      <b-form-group id="inputGroup" label="Carga:" label-for="Input">
        <b-form-input
          id="carga"
          type="text"
          v-model="form.carga"
          required
          placeholder="Digite a carga ou peso do novo exercício"
        />
      </b-form-group>
      <b-form-group id="inputGroup" label="Repetições:" label-for="Input">
        <b-form-input
          id="repeticao"
          type="text"
          v-model="form.repeticao"
          required
          placeholder="Digite o número de repetições novo exercício"
        />
      </b-form-group>
      <b-form-group id="inputGroup" label="Series:" label-for="Input">
        <b-form-input
          id="series"
          type="text"
          v-model="form.series"
          required
          placeholder="Digite o número de séries novo exercício"
        />
      </b-form-group>
    </b-modal>
    <b-modal
      id="modal_paste"
      ref="modal_paste"
      title="Importar"
      @ok="paste"
      >
      <b-form-group id="inputGroup" label="Dados:" label-for="Input">
        <b-form-input
          id="dados"
          type="text"
          v-model="form_paste.dados"
          required
          placeholder="Cole aqui os dados" />
      </b-form-group>
    </b-modal>
    <div class="table-responsive" v-if="treino && treino.exercicios && treino.exercicios.length>0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="dumbbell" /></span><span class="d-none d-lg-block">Carga</span></th>
            <th scope="col"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="redo" /></span><span class="d-none d-lg-block">Repetições</span></th>
            <th scope="col"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="list-ol" /></span><span class="d-none d-lg-block">Séries</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(exercicio, index) in treino.exercicios" :key="index">
            <td><span class="exercicio" :class="{ 'exercicio-marcado': exercicio.marcado}" @click="exercicio.marcado != exercicio.marcado">{{ index }}- {{ exercicio.nome }} ({{ exercicio.marcado }})</span></td>
            <td>{{ exercicio.carga }}</td>
            <td>{{ exercicio.repeticao }}</td>
            <td>{{ exercicio.series }}</td>
            <td>
              <b-dropdown variant="light" size="sm" no-caret>
                <template slot="button-content">
                  <font-awesome-icon icon="ellipsis-v" />
                </template>
                <!-- <b-dropdown-item :to="{ name: 'Exercício', params: { id: exercicio.id }}"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="edit" /></span>Editar</b-dropdown-item> -->
                <b-dropdown-item @click="deleteExercicio(treino, exercicio.id)"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="trash" /></span>Apagar</b-dropdown-item>
              </b-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h4 v-show="!!!treino.exercicios || !!!treino.exercicios.length">Nenhum exercício disponível</h4>
  </div>
</template>

<script>
import treinosDb from '../mixins/treinosDb'

export default {
  name: 'Treino',
  mixins: [treinosDb],
  data () {
    return {
      id: null,
      treino: [],
      exercicios: [],
      marcados: [],
      form: {
        nome: '',
        carga: 10,
        repeticao: 10,
        series: 4
      },
      form_paste: {
        dados: ''
      }
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.treino = this.getTreino(this.id)
    for (let i = 0; i < this.treino.exercicios.length; i++) {
      this.treino.exercicios[i].marcado = false
    }
  },
  methods: {
    novo: function (evt) {
      evt.preventDefault()
      if (!this.form.nome) {
        alert('Por favor, digite o nome do exercício')
      } else {
        this.$refs.modal_novo_exercicio.hide()
        this.novoExercicio(this.treino, this.form)
      }
    },
    copy: function () {
      this.$clipboard(JSON.stringify(this.treino))
      alert('Treino copiado para memória')
    },
    paste: function (evt) {
      evt.preventDefault()
      if (!this.form_paste.dados) {
        alert('Está faltando os dados')
      } else {
        try {
          this.$refs.modal_paste.hide()
          this.treino = JSON.parse(this.form_paste.dados)
          this.saveTreinos()
          alert('Dados importados com sucesso.')
        } catch (error) {
          console.log('try catch', error)
          alert('Houve um erro na importação.')
        }
      }
    }
  }
}
</script>
<style>
.exercicio {
  text-decoration: none;
  color: black;
}
.exercicio-marcado {
  text-decoration: line-through !important;
  color: red !important;
}
</style>
