<template>
  <div class="treinos">
    <div class="row p-2">
      <div class="col">
        <h3 class="d-inline-block">Meus treinos</h3>
        <b-button size="sm" variant="primary" @click="copy"><font-awesome-icon icon="copy" /></b-button>
        <b-button size="sm" variant="primary" v-b-modal.modal_paste><font-awesome-icon icon="upload" /></b-button>
      </div>
      <div class="col float-right">
        <b-button v-b-modal.modal_novo_treino size="sm" variant="outline-primary" class="float-right">Novo treino</b-button>
      </div>
    </div>
    <b-modal
      id="modal_novo_treino"
      ref="modal_novo_treino"
      title="Novo treino"
      @ok="novo"
      >
      <b-form-group id="inputGroup" label="Nome:" label-for="Input">
        <b-form-input
          id="nome"
          type="text"
          v-model="form.nome"
          required
          placeholder="Digite o nome do novo treino" />
      </b-form-group>
    </b-modal>
    <b-modal
      id="modal_paste"
      ref="modal_paste"
      title="Importar"
      @ok="paste"
      >
      <b-form-group id="inputGroup" label="Dados:" label-for="Input">
        <b-form-input
          id="dados"
          type="text"
          v-model="form_paste.dados"
          required
          placeholder="Cole aqui os dados" />
      </b-form-group>
    </b-modal>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr v-show="treinos.length>0">
            <th scope="col">Nome</th>
            <th scope="col">Último treino</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="treino in treinos" :key="treino.index">
            <td><router-link :to="{ name: 'Treino', params: { id: treino.id }}">{{ treino.nome }}</router-link></td>
            <td>{{ treino.ultimo_treino | date }}</td>
            <td>
              <b-dropdown variant="light" size="sm" no-caret>
                <template slot="button-content">
                  <font-awesome-icon icon="ellipsis-v" />
                </template>
                <b-dropdown-item :to="{ name: 'Treino', params: { id: treino.id }}"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="edit" /></span>Editar</b-dropdown-item>
                <b-dropdown-item @click="deleteTreino(treino.id)"><span class="d-inline-block float-left pr-2"><font-awesome-icon icon="trash" /></span>Apagar</b-dropdown-item>
              </b-dropdown>
            </td>
          </tr>
          <tr>
            <td colspan="4" v-show="!!!treinos.length"><h4>Nenhum treino disponível</h4></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import treinosDb from '../mixins/treinosDb'

export default {
  name: 'Treinos',
  mixins: [treinosDb],
  data () {
    return {
      form: {
        nome: ''
      },
      form_paste: {
        dados: ''
      },
      treinos: this.getTreinos()
    }
  },
  methods: {
    novo: function (evt) {
      evt.preventDefault()
      if (!this.form.nome) {
        alert('Por favor, digite o nome do treino')
      } else {
        this.$refs.modal_novo_treino.hide()
        this.novoTreino(this.form.nome)
      }
    },
    copy: function () {
      this.$clipboard(JSON.stringify(this.treinos))
      alert('Treinos copiado para memória')
    },
    paste: function (evt) {
      evt.preventDefault()
      if (!this.form_paste.dados) {
        alert('Está faltando os dados')
      } else {
        this.$refs.modal_paste.hide()
        if (this.importaTreinos(this.form_paste.dados)) alert('Dados importados com sucesso.')
        else alert('Houve um erro na importação.')
      }
    }
  }
}
</script>
